{problem:maxcut}
{symmetry:maxcut_symmetry}
{depth:7}
{stepsize:1}
{pstart:1}
{resolution:32}

(method0)
dir_name=sequential
type=default

(method1)
dir_name=linear_ramp_neg_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=true

(method2)
dir_name=linear_ramp_pos_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=false

(method3)
dir_name=optimised
type=opt
optimiser=COBYLA
init=results/paper_experiments/maxcut/sequential
init_type=default

[instance0]
qubits=10
seed=123456
degree=3
alpha=false

[instance1]
qubits=10
seed=123457
degree=3
alpha=false

[instance2]
qubits=10
seed=123459
degree=3
alpha=false

[instance3]
qubits=10
seed=123461
degree=3
alpha=false

[instance4]
qubits=10
seed=123464
degree=3
alpha=false

[instance5]
qubits=10
seed=123465
degree=3
alpha=false

[instance6]
qubits=10
seed=123466
degree=3
alpha=false

[instance7]
qubits=10
seed=123468
degree=3
alpha=false

[instance8]
qubits=10
seed=123474
degree=3
alpha=false

[instance9]
qubits=10
seed=123475
degree=3
alpha=false

[instance10]
qubits=12
seed=123456
degree=3
alpha=false

[instance11]
qubits=12
seed=123457
degree=3
alpha=false

[instance12]
qubits=12
seed=123458
degree=3
alpha=false

[instance13]
qubits=12
seed=123459
degree=3
alpha=false

[instance14]
qubits=12
seed=123460
degree=3
alpha=false

[instance15]
qubits=12
seed=123462
degree=3
alpha=false

[instance16]
qubits=12
seed=123463
degree=3
alpha=false

[instance17]
qubits=12
seed=123464
degree=3
alpha=false

[instance18]
qubits=12
seed=123465
degree=3
alpha=false

[instance19]
qubits=12
seed=123466
degree=3
alpha=false

[instance20]
qubits=14
seed=123456
degree=3
alpha=false

[instance21]
qubits=14
seed=123457
degree=3
alpha=false

[instance22]
qubits=14
seed=123458
degree=3
alpha=false

[instance23]
qubits=14
seed=123459
degree=3
alpha=false

[instance24]
qubits=14
seed=123460
degree=3
alpha=false

[instance25]
qubits=14
seed=123461
degree=3
alpha=false

[instance26]
qubits=14
seed=123462
degree=3
alpha=false

[instance27]
qubits=14
seed=123463
degree=3
alpha=false

[instance28]
qubits=14
seed=123464
degree=3
alpha=false

[instance29]
qubits=14
seed=123466
degree=3
alpha=false

[instance30]
qubits=16
seed=123456
degree=3
alpha=false

[instance31]
qubits=16
seed=123457
degree=3
alpha=false

[instance32]
qubits=16
seed=123458
degree=3
alpha=false

[instance33]
qubits=16
seed=123459
degree=3
alpha=false

[instance34]
qubits=16
seed=123460
degree=3
alpha=false

[instance35]
qubits=16
seed=123461
degree=3
alpha=false

[instance36]
qubits=16
seed=123462
degree=3
alpha=false

[instance37]
qubits=16
seed=123463
degree=3
alpha=false

[instance38]
qubits=16
seed=123464
degree=3
alpha=false

[instance39]
qubits=16
seed=123465
degree=3
alpha=false
