{problem:max3sat}
{symmetry:general_symmetry}
{depth:7}
{stepsize:1}
{pstart:1}
{resolution:32}

(method0)
dir_name=sequential
type=default

(method1)
dir_name=linear_ramp_neg_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=true

(method2)
dir_name=linear_ramp_pos_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=false

(method3)
dir_name=optimised
type=opt
optimiser=COBYLA
init=results/paper_experiments/max3sat/easy/linear_ramp
init_type=lr

[instance0]
qubits=14
seed=123456
degree=false
alpha=2.5

[instance1]
qubits=15
seed=123456
degree=false
alpha=2.75

[instance2]
qubits=16
seed=123456
degree=false
alpha=3

[instance3]
qubits=17
seed=123456
degree=false
alpha=3.25

[instance4]
qubits=19
seed=123456
degree=false
alpha=5.3333

[instance5]
qubits=20
seed=123456
degree=false
alpha=5.6666

[instance6]
qubits=21
seed=123456
degree=false
alpha=6

[instance7]
qubits=22
seed=123456
degree=false
alpha=6.3333

[instance8]
qubits=23
seed=123456
degree=false
alpha=6.6666

[instance9]
qubits=24
seed=123456
degree=false
alpha=5

[instance10]
qubits=14
seed=123456
degree=false
alpha=3.6666

[instance11]
qubits=15
seed=123456
degree=false
alpha=4

[instance12]
qubits=16
seed=123456
degree=false
alpha=4.3333

[instance13]
qubits=17
seed=123456
degree=false
alpha=4.6666

[instance14]
qubits=19
seed=123456
degree=false
alpha=3.75

[instance15]
qubits=20
seed=123456
degree=false
alpha=4

[instance16]
qubits=21
seed=123456
degree=false
alpha=4.25

[instance17]
qubits=22
seed=123456
degree=false
alpha=4.5

[instance18]
qubits=23
seed=123456
degree=false
alpha=4.75

[instance19]
qubits=24
seed=123456
degree=false
alpha=3.8
