{problem:vertcover}
{symmetry:general_symmetry}
{depth:2}
{stepsize:1}
{pstart:1}
{resolution:32}

(method0)
dir_name=sequential
type=default

(method1)
dir_name=linear_ramp_neg_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=true

(method2)
dir_name=linear_ramp_pos_mixer
type=lr
delta_beta=0.3
delta_gamma=0.6
negative_mixer=false

(method3)
dir_name=optimised
type=opt
optimiser=COBYLA
init=results/simple_examples/vertcover/linear_ramp_neg_mixer
init_type=lr

[instance0]
qubits=6
seed=123456
degree=3
alpha=false

[instance1]
qubits=6
seed=123457
degree=3
alpha=false
